.vs

# Prevent Database Information from
# being posted online
/sqlFiles
db_conn.config
db_conn.config.save

# Prevent SendGrid API Key/Email from
# being posted online
config.php
.DS_Store
html/.DS_Store
.save

# License
# ---------------
/site/config/.license
